# Dependencies
node_modules/

# Environment
.env

# Hardhat build artifacts / cache / types
artifacts/
cache/
typechain-types/

# Coverage reports
coverage/

# Build outputs
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
